<a href="https://colab.research.google.com/github/maciekpiotrowski/playground/blob/master/ML_stats_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
from scipy.stats import pearsonr,ttest_ind

np.random.seed(1)
data1 = 20 * np.random.rand(1000)+100
np.random.seed(1) #change to different value - corr will drop
data2 = data1+(10*np.random.rand(1000)+100)
corr,p=pearsonr(data1,data2)
print('%.3f'%corr)

1.000

In [10]:
data3=20 * np.random.rand(1000)+100
data3=data2
stat,p=ttest_ind(data1,data3)
print('stats = %.3f, p= %.3f'%(stat,p))

stats = -319.224, p= 0.000

In [12]:
from scipy.stats import mannwhitneyu
data10=50+(np.random.rand(100)*10)
data11=51+(np.random.rand(100)*10)
statp,pp=pearsonr(data10,data10)
statst,pst=ttest_ind(data10,data10)
statmw,pmw=mannwhitneyu(data10,data10)
print(f'p Stat stat={statp} p={pp}')
print(f'st Stat stat={statst} p={pst}')
print(f'mw Stat stat={statmw} p={pmw}')

p Stat stat=1.0 p=0.0
st Stat stat=0.0 p=1.0
mw Stat stat=5000.0 p=0.4995125962755411

In [0]:
import pandas as pd
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)

In [22]:
df.iloc[:,lambda x:[0,2]]

      a     c
0     1     3
1   100   300
2  1000  3000

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000